<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="Dog4"
          class="Animals.Dog4">
    </bean>

    <bean id="Cat4"
          class="Animals.Cat4">
    </bean>

    <!-- setPet3 -> pet3 -->
    <bean id="Person3"
          class="OtherClasses.Person3">
        <property name="pet4" ref="Cat4"/>
    </bean>


</beans>